# Sequence Types : String, lists, Tuple

**indexing**
-access any item in the sequence using its index.
-index starts with 0 for the first element.

In [1]:
#string
x ="hsu"
print(x[2])

u

In [2]:
#list
x = ['hsu', 'mon', 'lei', 'aung']
print(x[2])

lei

In [3]:
#tuple 
x = ('hsu', 'phyo', 'nway')
print(x[2])

nway

**slicing** -slice out substrings, sublists, subtuples using indexes.
**[start : end+1 : step]**

In [12]:
x ='datastructure'
print(x[1:4]) #default step : 1 , start count is inclusive and end is non inclusive
print(x[0:4:2])
print(x[4:])
print(x[:4])
print(x[-1]) #negative index means backword sequences
print(x[-4:])
print(x[:-3])

ata
dt
structure
data
e
ture
datastruct

**adding/ concatenating** - combine 2 sequences of the same type by using +

In [15]:
#string
x = 'python' + 'programming'
print(x)

pythonprogramming

In [16]:
#list
y = ['python', 'java'] + ['php']
print(y)

['python', 'java', 'php']

In [20]:
#tuple
z =('datastructure', 'algorithm', 'softwareEngineering') + ('MachineLearning',) ## very important comma of second one that tell
#python this is a tuple
print(z)

('datastructure', 'algorithm', 'softwareEngineering', 'MachineLearning')

**multiplying**-multiply a sequence using *

In [21]:
#string
x = 'yes' * 4
print(x)

yesyesyesyes

In [23]:
#list
y = [11, 8] * 4
print(y)

[11, 8, 11, 8, 11, 8, 11, 8]

In [25]:
#tuple
z = (2,9) * 4
print(z)

(2, 9, 2, 9, 2, 9, 2, 9)

**checking membership** -test whether an item is or is not in a sequence.

In [28]:
##Return boolean value True or False
#string
x= 'data'
print('a' in x)

#list
y = ['python', 'java', 'php']
print('C++' not in y)

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print('MachineLearining' in z)

True
True
False

**iterating**- iterating through the items in a sequence

In [30]:
#x is a sequence
#print item
x = [1,9,7,3]
for item in x:
    print(item)
    
    
#y is a sequence
#print index and item using enumerate() that return both an index and an item
y = [7,8,3]
for index,item in enumerate(y):
    print(index, item)

1
9
7
3
0 7
1 8
2 3

**Counting the number of items** - count the number of items in a sequence

In [33]:
#string
x = 'data'
print(len(x))

#list
y = ['python', 'java', 'php']
print(len(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(len(z))

4
3
3

**minimum** - find the minimum item in a sequence lexicographically. Alpha or numeric types, but cannot mix types.

In [34]:
#string
x = 'data'
print(min(x))

#list
y = ['python', 'java', 'php']
print(min(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(min(z))

a
java
algorithm

**maximum** - find the maximum item in a sequence lexicographically.
Alpha or numeric types, but cannot mix types.

In [35]:
#string
x = 'data'
print(max(x))

#list
y = ['python', 'java', 'php']
print(max(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(max(z))

t
python
softwareEngineering

**sum** - find the sum of items in a sequence.
Entire sequence must be numeric.

In [42]:
#string
x = [1, 2, 3]
print(sum(x))

# #string 
# x = [2,4, 'even']
# #shows error [ TypeError: unsupported operand type(s) for +: 'int' and 'str' ]
# print(sum(x))

#list
y = [2,5,8,12]
print(sum(y))
print(sum(y[-2:])) #start from -2 to -1 

#tuple
z = (50, 4, 7, 19)
print(sum(z))

6
27
20
80

**sorting**- returns a new list of items in sorted order.
Does not change the original list.

In [43]:
#string
x = 'data'
print(sorted(x)) #return new list in sorted order

#list
y = ['python', 'java', 'php']
print(sorted(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(sorted(z))

['a', 'a', 'd', 't']
['java', 'php', 'python']
['algorithm', 'datastructure', 'softwareEngineering']

**sorting**-sort by second letter
Add a key parameter and a lambda function to return the second character.
(the word **key** here is a defined parameter name, **k** is an arbitrary variable name).

In [54]:
#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering', 'machineLearning')
print(sorted(z))#first letter ( d,a, s, m)=> (a,d,m,s)

print(sorted(z, key=lambda k: k[1]))  #second letter (da,l,o,ma)=> (da,ma,l,o)
print(sorted(z, key=lambda k: k[2])) #third letter (dat,alg,sof,mac)=> (mac,sof,alg,dat)
print(sorted(z, key=lambda k: k[3])) #fourth letter (data,algo,soft,mach)=> (data,mach, lago, soft)

['algorithm', 'datastructure', 'machineLearning', 'softwareEngineering']
['datastructure', 'machineLearning', 'algorithm', 'softwareEngineering']
['machineLearning', 'softwareEngineering', 'algorithm', 'datastructure']
['datastructure', 'machineLearning', 'algorithm', 'softwareEngineering']

**count(item)** -returns count of an item

In [56]:
#string
x = 'data'
print(x.count('a'))

#list
y = ['python', 'java', 'php', 'python']
print(y.count('python'))

#tuple
z = ('python', 'java', 'php', 'python')
print(z.count('python'))

2
2
2

**index(item)** - returns the index of the first occurrence of an item.

In [57]:
#string
x = 'data'
print(x.index('a'))

#list
y = ['python', 'java', 'php', 'python']
print(y.index('python'))

#tuple
z = ('python', 'java', 'php', 'python')
print(z.index('python'))

1
0
0

**unpacking** - unpack the n items of a sequence into n variables

In [58]:
y = ['python', 'java', 'php']
a, b, c = y
print(a, b, c)

python java php

# Lists

1. General purpose
2. Most widely used data structure
3. Grow and shrink size as needed
4. Sequence type
5. Sortable

**constructors-** creating a new list

In [61]:
x = list () # create empty new list by  calling list() constructor
print(x)
y = ['a', 25, 'dog', 8.43] # separate comma with different datatypes
print(y)

tuple1 =(10, 20)
z = list(tuple1) # we pass the tuple to a list constructor for creating list
print(z)

[]
['a', 25, 'dog', 8.43]
[10, 20]

In [66]:
## list comprehension to create new list

a = [i for i in range(7)] #
print(a)

b = [j*2 for j in range(7)]
print(b)

c = [k*2 for k in range(7) if k>4]
print(c)

[0, 1, 2, 3, 4, 5, 6]
[0, 2, 4, 6, 8, 10, 12]
[10, 12]

**delete**- delete a list or an item in a list

In [68]:
z = [0, 2, 4, 6, 8, 10, 12]
del(z[0])
print(z)

[2, 4, 6, 8, 10, 12]

In [69]:
#list z no longer exists
del(z)

In [70]:
print(z)

NameError: name 'z' is not defined

**append** - append an item to a list

In [73]:
z = [0, 2, 4, 6, 8, 10, 12]

z.append(14) #add an item on to the list is going to add it to the tail
print(z)

[0, 2, 4, 6, 8, 10, 12, 14]

**extend**- append a sequence to a list

In [75]:
z = [0, 2, 4, 6, 8, 10, 12]
print(z)

k = [14, 16, 18]
print(k)

z.extend(k) # add a list of tail of the first list extend basically is similar to the plus function that we
print(z)

[0, 2, 4, 6, 8, 10, 12]
[14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**insert**-insert an item at a given index

In [77]:
z = [0, 2, 4, 6, 8, 10, 12]
print(z)
z.insert(2,3) # insert value 3 to index 2
print(z)

z.insert(1, ['a','b'])
print(z)

[0, 2, 4, 6, 8, 10, 12]
[0, 2, 3, 4, 6, 8, 10, 12]
[0, ['a', 'b'], 2, 3, 4, 6, 8, 10, 12]

**pop**- pops last item off list and returns item

In [78]:
z = [0, 2, 4, 6, 8, 10, 12]
z.pop()
print(z)
print(z.pop())

[0, 2, 4, 6, 8, 10]
10

**remove** - remove first instance of an item

In [81]:
z = [2, 2, 4, 6, 8, 10, 12]
z.remove(2)
print(z)

[2, 4, 6, 8, 10, 12]

**reverse** - reverse the order of the list. It is an in-place sort, meaning it changes the original list.

In [1]:
z = [0, 2, 4, 6, 8, 10, 12]
z.reverse()
print(z)

[12, 10, 8, 6, 4, 2, 0]

**sort** - sort the list in place.

> Note:
    sorted(z) returns a new sorted list without changing the original list x.
    x.sort() puts the items of x in sorted order(sorts in place).
    
**reverse sort** - sort items descending.
Use reverse = True parameter to the sort function.

In [5]:
z = [ 9,2,8,6,4,1,3]

print("Sorted list:")
print(sorted(z))
 
print("\nReverse sorted list:")
print(sorted(z, reverse = True))
 
print("\nOriginal list after sorting:") # returns a new sorted list without changing the original list
print(z)

Sorted list:
[1, 2, 3, 4, 6, 8, 9]

Reverse sorted list:
[9, 8, 6, 4, 3, 2, 1]

Original list after sorting:
[9, 2, 8, 6, 4, 1, 3]

In [6]:
#sort() function is very similar to sorted() 
#but unlike sorted it returns nothing and makes changes
#to the original sequence. Moreover, sort() is a method of list class and can only be used with lists.

# Python program to demonstrate
# sort()
 
 
# List of Integers
z = [ 9,2,8,6,4,1,3]
   
# Sorting list of Integers
z.sort()
   
print(z)
   
# List of Floating point numbers
decimalnumber = [2.01, 2.00, 3.67, 3.28, 1.68]
   
# Sorting list of Floating point numbers
decimalnumber.sort()
   
print(decimalnumber)
   
# List of strings
words = ["Geeks", "For", "Geeks"]
   
# Sorting list of strings
words.sort()
   
print(words)

[1, 2, 3, 4, 6, 8, 9]
[1.68, 2.0, 2.01, 3.28, 3.67]
['For', 'Geeks', 'Geeks']

## Tuples

- Immutable (can't add/change)
- Useful for fixed data
- Faster than Lists
-Sequence type

**constructors** - creating new tuples.

In [7]:
x = () # to create new tuples by using () as a constructor

x = (1,2,3) # () with passing items

x = 1, 2, 3 # () is optional and without () but separate comma python knows that is tuple

x = 2, # the comma tells Python it's a tuple This is a one item tuple not integer

print(x, type(x))

(2,) <class 'tuple'>

In [8]:
# insert list into tuple

list_1 = [2,4,6,8]
x = tuple(list_1)
print(x, type(x))

(2, 4, 6, 8) <class 'tuple'>

**tuples are immutable**, but member objects may be mutable.

In [14]:
# x = ( 4, 3, 2, 1)

# del(x[3]) # show error => TypeError: 'tuple' object doesn't support item deletion

# x[4] = 0 # show error => TypeError: 'tuple' object does not support item assignment


a = ([4, 3], 2, 1) # a tuple where the first item is a list
del(a[0][1]) # delete the 3
print(a) # So the list in the tuple is mutable

#tuples concatenating

a += (0,)
print(a)

([4], 2, 1)
([4], 2, 1, 0)

## Sets

- Store non-duplicate items
- Very fast access vs List
- Math Set ops (union, intersect)
- Sets are Unordered

**constructors** - creating new sets

In [15]:
# unique items are stored in set

s = {11, 30 , 5, 8, 11, 30}
print(s)

{8, 11, 5, 30}

In [16]:
y = set()
print(y)

set()

In [17]:
#insert list into set
list_1 = [2,4,6,8]
s = set(list_1)
print(s, type(s)) # show in unordered list that cannot sort the set

{8, 2, 4, 6} <class 'set'>

**set operations** 
- add
- remove
- length of set 
- check membershiop in x
- pop random item from set
- delete all items from set

In [27]:
s = {11, 30 , 5, 8}
print(s)

s.add(31)
print(s)

s.remove(31)
print(s)

#get length of set 
print(len(s))

#check membership in x
print(11 in s)
print(31 in s)

#pop random item from set
print(s.pop())
print(s)

#delete all items from set
s.clear()
print(s)

{8, 11, 5, 30}
{5, 8, 11, 30, 31}
{5, 8, 11, 30}
4
True
False
5
{8, 11, 30}
set()

**Mathematical Set Operations**

- **intersection(AND)** : set1 & set2
- **union(OR)** : set1 | set2
- **symmetric difference(XOR)** : set1 ^ set2
-  **difference (in set1 but not set2)** : set1 - set2
- **subset** (set2 contains set1) : set1 <= set2
- **superset** (set1 contains set2): set1 >= set2

In [9]:
# create set using {}

s1 = {2,3,4,5,6,7,8}

s2 = {1,2,3,4,5}

print("Set Intersetction (AND) :", s1 & s2)

print("Set Union (OR) :", s1 | s2)

print("symmetric difference(XOR):", s1 ^ s2)

print("difference ", s1 - s2)

print("Set1 subset set2 (set1 <= set2) set2 contains set1 : ", s1 <= s2) #return true or false

print("Set1 contains set2 (set1 >= set2) Superset  : ", s1 >= s2)

Set Intersetction (AND) : {2, 3, 4, 5}
Set Union (OR) : {1, 2, 3, 4, 5, 6, 7, 8}
symmetric difference(XOR): {1, 6, 7, 8}
difference  {8, 6, 7}
Set1 subset set2 (set1 <= set2) set2 contains set1 :  False
Set1 contains set2 (set1 >= set2) Superset  :  False

## Dictionaries (dict)

- key/Value pairs
- Associative arry, like Java HashMap
- Dicts are Unordered

In [10]:
 #create dictionary by {}
flowers = {'rose' : 3.2, 'jasmine' : 1.2, 'orchid' : 5.4}

print(flowers, type(flowers))


 #create dictionary by dict([(),(),()])
flowers = dict([('rose' , 3.2), ('jasmine' , 1.2), ('orchid' , 5.4)])

print(flowers, type(flowers))

 #create dictionary by dict()
flowers = dict(rose=3.2, jasmine = 1.2, orchid = 5.4)

print(flowers, type(flowers))

{'rose': 3.2, 'jasmine': 1.2, 'orchid': 5.4} <class 'dict'>
{'rose': 3.2, 'jasmine': 1.2, 'orchid': 5.4} <class 'dict'>
{'rose': 3.2, 'jasmine': 1.2, 'orchid': 5.4} <class 'dict'>

## dict operations

- add or update 
- delete an item
- get length of dict x
- delete all items from dict x
- delete dict x

In [11]:
flowers['sunflower'] = 1.500
print(flowers)

{'rose': 3.2, 'jasmine': 1.2, 'orchid': 5.4, 'sunflower': 1.5}

In [12]:
print(len(flowers))

4

In [13]:
#delete an item
del(flowers['orchid'])
print(flowers)

#delete all items from dict
flowers.clear()
print(flowers)

#delete dict
del(flowers)

{'rose': 3.2, 'jasmine': 1.2, 'sunflower': 1.5}
{}

## accessing keys and values in a dict
Not compatiable with python 2

In [16]:
click = {'C2D' : 5.5 , 'Tha_din': 5.6, 'PaDayTharPin' : 5.7}

print(click.keys())
print(click.values())
print(click.items()) # key-value pairs

#check membership in y_keys(only looks in keys, not values)
print('C2D' in click)

#check membership in y_values
print('5.5' in click.values())
print(5.5 in click.values())

dict_keys(['C2D', 'Tha_din', 'PaDayTharPin'])
dict_values([5.5, 5.6, 5.7])
dict_items([('C2D', 5.5), ('Tha_din', 5.6), ('PaDayTharPin', 5.7)])
True
False
True

## iterating a dict
- note. items are in random order.

In [18]:
for key in click:
    print(key, click[key]) # print key in click and print values of click by key
    
for key,value in click.items():
    print(key,value)

C2D 5.5
Tha_din 5.6
PaDayTharPin 5.7
C2D 5.5
Tha_din 5.6
PaDayTharPin 5.7

## Python List Comprehensions

basic format : new_list = [transform sequence [filter]]

**get values within a range**

In [21]:
first_10_example = [x for x in range(10)]

#print("first 10 number : " + first_10_example) #TypeError: can only concatenate str (not "list") to str
print("first 10 number : " )
print(first_10_example)
print("first 10 number  as string : " + str(first_10_example))

first 10 number :
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
first 10 number  as string : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**get squared values**

In [22]:
squared_value_example = [x**2 for x in range(10)]
print("squared_value_of_first 10 number as string : " + str(squared_value_example))

squared_value_of_first 10 number as string : [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**get odd numbers using mod**

In [23]:
odds = [x for x in range(10) if x%2 == 1]
print("odds : " + str(odds))

odds : [1, 3, 5, 7, 9]

**get multiples of 10**

In [24]:
multiple_of_ten = [x * 10 for x in range(10)]
print('multiple_of_ten :'+str(multiple_of_ten))

multiple_of_ten :[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

**get all numbers from a string**
- isnumeric()

In [29]:
numbers_in_string = "hello testing 123 let's start count 4 to 5 end 6"
nums = [x for x in numbers_in_string if x.isnumeric()]

print('nums : ' + ''.join(nums))

nums : 123456

**get index of a list item**

In [41]:
list_click = ['C2D' , 'Tha_din', 'PaDayTharPin' , 'PaDayTharPin']
idx = [key for key,value in enumerate(list_click) if value == 'C2D']
print('index of list key value pair = ' + str(idx[0]))


idx = [key for key,value in enumerate(list_click) if value == 'PaDayTharPin']
print(len(idx))
for i in range(len(idx)):
    print('index of list key value pair = ' + str(idx[i]))

index of list key value pair = 0
2
index of list key value pair = 2
index of list key value pair = 3

**delete an item from a list**

In [44]:
import random

letters = [x for x in 'level']
random.shuffle(letters)

print(letters)

letrs = [a for a in letters if a != 'e']
print(letters, letrs)

['l', 'v', 'e', 'l', 'e']
['l', 'v', 'e', 'l', 'e'] ['l', 'v', 'l']

# if-else condition in a comprehension**
- must come before iteration

In [49]:
nums = [5 , 3, 10, 18, 6, 7]

print('original list : '+ str(nums))

new_list = [ x if x % 2 == 0 else 10*x for x in nums]

print('new_list: '+ str(new_list))

original list : [5, 3, 10, 18, 6, 7]
new_list: [50, 30, 10, 18, 6, 70]

**nested loop iteration for 2D list**
- b is the subsets, x is the values.

In [48]:
a = [[1,2],[3,4]] # 2D list

new_list = [x for b in a for x in b]

print(new_list)

[1, 2, 3, 4]