# Sequence Types : String, lists, Tuple

**indexing**
-access any item in the sequence using its index.
-index starts with 0 for the first element.

In [1]:
#string
x ="hsu"
print(x[2])

u

In [2]:
#list
x = ['hsu', 'mon', 'lei', 'aung']
print(x[2])

lei

In [3]:
#tuple 
x = ('hsu', 'phyo', 'nway')
print(x[2])

nway

**slicing** -slice out substrings, sublists, subtuples using indexes.
**[start : end+1 : step]**

In [12]:
x ='datastructure'
print(x[1:4]) #default step : 1 , start count is inclusive and end is non inclusive
print(x[0:4:2])
print(x[4:])
print(x[:4])
print(x[-1]) #negative index means backword sequences
print(x[-4:])
print(x[:-3])

ata
dt
structure
data
e
ture
datastruct

**adding/ concatenating** - combine 2 sequences of the same type by using +

In [15]:
#string
x = 'python' + 'programming'
print(x)

pythonprogramming

In [16]:
#list
y = ['python', 'java'] + ['php']
print(y)

['python', 'java', 'php']

In [20]:
#tuple
z =('datastructure', 'algorithm', 'softwareEngineering') + ('MachineLearning',) ## very important comma of second one that tell
#python this is a tuple
print(z)

('datastructure', 'algorithm', 'softwareEngineering', 'MachineLearning')

**multiplying**-multiply a sequence using *

In [21]:
#string
x = 'yes' * 4
print(x)

yesyesyesyes

In [23]:
#list
y = [11, 8] * 4
print(y)

[11, 8, 11, 8, 11, 8, 11, 8]

In [25]:
#tuple
z = (2,9) * 4
print(z)

(2, 9, 2, 9, 2, 9, 2, 9)

**checking membership** -test whether an item is or is not in a sequence.

In [28]:
##Return boolean value True or False
#string
x= 'data'
print('a' in x)

#list
y = ['python', 'java', 'php']
print('C++' not in y)

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print('MachineLearining' in z)

True
True
False

**iterating**- iterating through the items in a sequence

In [30]:
#x is a sequence
#print item
x = [1,9,7,3]
for item in x:
    print(item)
    
    
#y is a sequence
#print index and item using enumerate() that return both an index and an item
y = [7,8,3]
for index,item in enumerate(y):
    print(index, item)

1
9
7
3
0 7
1 8
2 3

**Counting the number of items** - count the number of items in a sequence

In [33]:
#string
x = 'data'
print(len(x))

#list
y = ['python', 'java', 'php']
print(len(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(len(z))

4
3
3

**minimum** - find the minimum item in a sequence lexicographically. Alpha or numeric types, but cannot mix types.

In [34]:
#string
x = 'data'
print(min(x))

#list
y = ['python', 'java', 'php']
print(min(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(min(z))

a
java
algorithm

**maximum** - find the maximum item in a sequence lexicographically.
Alpha or numeric types, but cannot mix types.

In [35]:
#string
x = 'data'
print(max(x))

#list
y = ['python', 'java', 'php']
print(max(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(max(z))

t
python
softwareEngineering

**sum** - find the sum of items in a sequence.
Entire sequence must be numeric.

In [42]:
#string
x = [1, 2, 3]
print(sum(x))

# #string 
# x = [2,4, 'even']
# #shows error [ TypeError: unsupported operand type(s) for +: 'int' and 'str' ]
# print(sum(x))

#list
y = [2,5,8,12]
print(sum(y))
print(sum(y[-2:])) #start from -2 to -1 

#tuple
z = (50, 4, 7, 19)
print(sum(z))

6
27
20
80

**sorting**- returns a new list of items in sorted order.
Does not change the original list.

In [43]:
#string
x = 'data'
print(sorted(x)) #return new list in sorted order

#list
y = ['python', 'java', 'php']
print(sorted(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(sorted(z))

['a', 'a', 'd', 't']
['java', 'php', 'python']
['algorithm', 'datastructure', 'softwareEngineering']

**sorting**-sort by second letter
Add a key parameter and a lambda function to return the second character.
(the word **key** here is a defined parameter name, **k** is an arbitrary variable name).

In [54]:
#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering', 'machineLearning')
print(sorted(z))#first letter ( d,a, s, m)=> (a,d,m,s)

print(sorted(z, key=lambda k: k[1]))  #second letter (da,l,o,ma)=> (da,ma,l,o)
print(sorted(z, key=lambda k: k[2])) #third letter (dat,alg,sof,mac)=> (mac,sof,alg,dat)
print(sorted(z, key=lambda k: k[3])) #fourth letter (data,algo,soft,mach)=> (data,mach, lago, soft)

['algorithm', 'datastructure', 'machineLearning', 'softwareEngineering']
['datastructure', 'machineLearning', 'algorithm', 'softwareEngineering']
['machineLearning', 'softwareEngineering', 'algorithm', 'datastructure']
['datastructure', 'machineLearning', 'algorithm', 'softwareEngineering']

**count(item)** -returns count of an item

In [56]:
#string
x = 'data'
print(x.count('a'))

#list
y = ['python', 'java', 'php', 'python']
print(y.count('python'))

#tuple
z = ('python', 'java', 'php', 'python')
print(z.count('python'))

2
2
2

**index(item)** - returns the index of the first occurrence of an item.

In [57]:
#string
x = 'data'
print(x.index('a'))

#list
y = ['python', 'java', 'php', 'python']
print(y.index('python'))

#tuple
z = ('python', 'java', 'php', 'python')
print(z.index('python'))

1
0
0

**unpacking** - unpack the n items of a sequence into n variables

In [58]:
y = ['python', 'java', 'php']
a, b, c = y
print(a, b, c)

python java php

# Lists

1. General purpose
2. Most widely used data structure
3. Grow and shrink size as needed
4. Sequence type
5. Sortable

**constructors-** creating a new list

In [61]:
x = list () # create empty new list by  calling list() constructor
print(x)
y = ['a', 25, 'dog', 8.43] # separate comma with different datatypes
print(y)

tuple1 =(10, 20)
z = list(tuple1) # we pass the tuple to a list constructor for creating list
print(z)

[]
['a', 25, 'dog', 8.43]
[10, 20]

In [66]:
## list comprehension to create new list

a = [i for i in range(7)] #
print(a)

b = [j*2 for j in range(7)]
print(b)

c = [k*2 for k in range(7) if k>4]
print(c)

[0, 1, 2, 3, 4, 5, 6]
[0, 2, 4, 6, 8, 10, 12]
[10, 12]

**delete**- delete a list or an item in a list

In [68]:
z = [0, 2, 4, 6, 8, 10, 12]
del(z[0])
print(z)

[2, 4, 6, 8, 10, 12]

In [69]:
#list z no longer exists
del(z)

In [70]:
print(z)

NameError: name 'z' is not defined

**append** - append an item to a list

In [73]:
z = [0, 2, 4, 6, 8, 10, 12]

z.append(14) #add an item on to the list is going to add it to the tail
print(z)

[0, 2, 4, 6, 8, 10, 12, 14]

**extend**- append a sequence to a list

In [75]:
z = [0, 2, 4, 6, 8, 10, 12]
print(z)

k = [14, 16, 18]
print(k)

z.extend(k) # add a list of tail of the first list extend basically is similar to the plus function that we
print(z)

[0, 2, 4, 6, 8, 10, 12]
[14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**insert**-insert an item at a given index

In [77]:
z = [0, 2, 4, 6, 8, 10, 12]
print(z)
z.insert(2,3) # insert value 3 to index 2
print(z)

z.insert(1, ['a','b'])
print(z)

[0, 2, 4, 6, 8, 10, 12]
[0, 2, 3, 4, 6, 8, 10, 12]
[0, ['a', 'b'], 2, 3, 4, 6, 8, 10, 12]

**pop**- pops last item off list and returns item

In [78]:
z = [0, 2, 4, 6, 8, 10, 12]
z.pop()
print(z)
print(z.pop())

[0, 2, 4, 6, 8, 10]
10

**remove** - remove first instance of an item

In [81]:
z = [2, 2, 4, 6, 8, 10, 12]
z.remove(2)
print(z)

[2, 4, 6, 8, 10, 12]

**reverse** - reverse the order of the list. It is an in-place sort, meaning it changes the original list.