# Sequence Types : String, lists, Tuple

**indexing**
-access any item in the sequence using its index.
-index starts with 0 for the first element.

In [1]:
#string
x ="hsu"
print(x[2])

u

In [2]:
#list
x = ['hsu', 'mon', 'lei', 'aung']
print(x[2])

lei

In [3]:
#tuple 
x = ('hsu', 'phyo', 'nway')
print(x[2])

nway

**slicing** -slice out substrings, sublists, subtuples using indexes.
**[start : end+1 : step]**

In [12]:
x ='datastructure'
print(x[1:4]) #default step : 1 , start count is inclusive and end is non inclusive
print(x[0:4:2])
print(x[4:])
print(x[:4])
print(x[-1]) #negative index means backword sequences
print(x[-4:])
print(x[:-3])

ata
dt
structure
data
e
ture
datastruct

**adding/ concatenating** - combine 2 sequences of the same type by using +

In [15]:
#string
x = 'python' + 'programming'
print(x)

pythonprogramming

In [16]:
#list
y = ['python', 'java'] + ['php']
print(y)

['python', 'java', 'php']

In [20]:
#tuple
z =('datastructure', 'algorithm', 'softwareEngineering') + ('MachineLearning',) ## very important comma of second one that tell
#python this is a tuple
print(z)

('datastructure', 'algorithm', 'softwareEngineering', 'MachineLearning')

**multiplying**-multiply a sequence using *

In [21]:
#string
x = 'yes' * 4
print(x)

yesyesyesyes

In [23]:
#list
y = [11, 8] * 4
print(y)

[11, 8, 11, 8, 11, 8, 11, 8]

In [25]:
#tuple
z = (2,9) * 4
print(z)

(2, 9, 2, 9, 2, 9, 2, 9)

**checking membership** -test whether an item is or is not in a sequence.

In [28]:
##Return boolean value True or False
#string
x= 'data'
print('a' in x)

#list
y = ['python', 'java', 'php']
print('C++' not in y)

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print('MachineLearining' in z)

True
True
False

**iterating**- iterating through the items in a sequence

In [30]:
#x is a sequence
#print item
x = [1,9,7,3]
for item in x:
    print(item)
    
    
#y is a sequence
#print index and item using enumerate() that return both an index and an item
y = [7,8,3]
for index,item in enumerate(y):
    print(index, item)

1
9
7
3
0 7
1 8
2 3

**Counting the number of items** - count the number of items in a sequence

In [33]:
#string
x = 'data'
print(len(x))

#list
y = ['python', 'java', 'php']
print(len(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(len(z))

4
3
3

**minimum** - find the minimum item in a sequence lexicographically. Alpha or numeric types, but cannot mix types.

In [34]:
#string
x = 'data'
print(min(x))

#list
y = ['python', 'java', 'php']
print(min(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(min(z))

a
java
algorithm

**maximum** - find the maximum item in a sequence lexicographically.
Alpha or numeric types, but cannot mix types.

In [35]:
#string
x = 'data'
print(max(x))

#list
y = ['python', 'java', 'php']
print(max(y))

#tuple
z = ('datastructure', 'algorithm', 'softwareEngineering')
print(max(z))

t
python
softwareEngineering

**sum** - find the sum of items in a sequence.
Entire sequence must be numeric.

In [37]:
#string
x = [1, 2, 3]
print(sum(x))

# #string 
# x = [2,4, 'even']
# #shows error [ TypeError: unsupported operand type(s) for +: 'int' and 'str' ]
# print(sum(x))

6

TypeError: unsupported operand type(s) for +: 'int' and 'str'